// Font Face
@font-face {
    font-family: 'Fraunces 144pt';
    src: url('/assets/fonts/Fraunces_144pt-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

// Colors
$dark-purple: #24053e;
$eucaplyptus: #44ffa1;
$davys-grey: #584d62;
$ghost-white: #fcf8ff;
$white: #ffffff;

// Buttons

button {
    cursor: pointer;
    border: none;
    background: none;
}

.primary-button {
    padding: 12px 24px;
    background-color: $eucaplyptus;
    display: inline-block;
    line-height: 32px;
    color: $dark-purple;
    font-weight: 700;
}

// Default
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Fraunces 144pt', serif;
}

h1 {
    margin: 0;
}

a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

:focus {
    outline: none;
}

header,
section,
footer {
    padding: 32px 16px;
}

.is-underline {
    border-bottom: 3px solid $eucaplyptus;
}
