/* #region : Hero */
.hero {
    position: relative;
    text-align: center;
    color: $white;
    padding-bottom: calc(184px / 2);
    overflow-x: clip;

    &__title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 40px;

        strong {
            display: inline-block;
            line-height: 55px;
        }

        @media #{$tablet} {
            font-size: 60px;
            line-height: 60px;
            max-width: 575px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__button {
        margin-bottom: 64px;
    }

    &__image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 320px;

        @media #{$tablet} {
            width: 515px;
        }
    }

    @include curved-effect($dark-purple, $ghost-white);

    &::before {
        transform: scaleX(2.1);
    }

    @media #{$tablet} {
        padding-bottom: 148px;
        background-image: url('../images/bg-pattern-1.svg'), url('../images/bg-pattern-2.svg');
        background-repeat: no-repeat, no-repeat;
        // background-size: 270px auto, 142px 112px;
        background-position: -230px calc(50% - (55px)), calc(100% + 80px) calc(100% - 95px);
    }
}
/* #endregion : Hero */

/* #region : Advantages */
.advantages {
    position: relative;
    padding-top: calc(64px + (184px / 2));
    padding-bottom: 71px;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    text-align: center;

    .advantage {
        margin-bottom: 40px;

        &__number {
            display: inline-block;
            font-family: 'Fraunces 144pt';
            font-size: 20px;
            color: $dark-purple;
            width: 48px;
            height: 48px;
            line-height: 48px;
            border-radius: 50%;
            border: 1px solid $davys-grey;
            margin-bottom: 24px;

            @media #{$tablet} {
                flex-shrink: 0;
                margin-right: 32px;
                margin-bottom: 0;
            }
        }

        &__details {
            @media #{$tablet} {
                text-align: left;
            }
        }

        &__title {
            font-size: 28px;
            line-height: 36px;
            color: $dark-purple;
            margin-bottom: 16px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media #{$tablet} {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 48px;
            max-width: 573px;
        }
    }

    @include curved-effect($ghost-white, $white);

    &::before {
        transform: scaleX(3.5);

        @media #{$tablet} {
            transform: scaleX(2.2);
        }
    }

    @media #{$tablet} {
        align-items: center;
        padding-top: 195px;
        padding-bottom: 104px;
    }
}
/* #endregion : Advantages */

/* #region : Founder */
.founder {
    padding-top: 100px;
}
/* #endregion : Founder */
