// Header
header {
    background-color: $dark-purple;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__link {
            line-height: 32px;

            &:hover {
                color: $eucaplyptus;
            }
        }
    }
}

// Hero
.hero {
    position: relative;
    text-align: center;
    color: $white;
    padding-bottom: calc(184px / 2);
    overflow-x: clip;

    &__title {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 40px;
    }

    &__button {
        margin-bottom: 64px;
    }

    &__image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        max-width: 320px;
        height: auto;
    }

    @include curved-effect($dark-purple, red);
}

// Advantages
.advantages {
    position: relative;
    padding-top: calc(64px + (184px / 2));
    padding-bottom: 71px;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    text-align: center;

    .advantage {
        margin-bottom: 40px;

        &__number {
            display: inline-block;
            font-family: 'Fraunces 144pt';
            font-size: 20px;
            color: $dark-purple;
            width: 48px;
            height: 48px;
            line-height: 48px;
            border-radius: 50%;
            border: 1px solid $davys-grey;
            margin-bottom: 24px;
        }

        &__title {
            font-size: 28px;
            line-height: 36px;
            color: $dark-purple;
            margin-bottom: 16px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include curved-effect($ghost-white, $white);
}
